
.content {
    width: 80%;
    margin: auto;
}

.content-item {
    width: 45%;
    /* border: 2px solid black; */
    margin: 20px;
    float: left;
    /* height: 600%; */
}

/* .content-item img {
  width: 200px;
  height: 300;
} */

.movie-info {
  width: 80%
}

/* .movie-info .custom-link{


} */

.custom-link {
  width: 80%;
}

.active {
  color: red;
}

.form {
  margin: 20px
}