.wrap{
  padding: 20px 30px;
}

.toggler__core{
  width: 500px;

  display: flex;
  justify-content: space-between;
  padding: 5px 20px;

  background: #eee;
}

.toggler__item{
  flex: 1;
  margin-right: 10px;
  text-align: center;
}

.toggler__item:hover{
  background: #ffcc00;
}

.toggler__item.active{
  background: #ffcc00;
}

.form{
  width: 500px;
  display: flex;
  flex-direction: column;
}