.animation{
    background-image: url('https://cdn-images-1.medium.com/max/720/1*HJHfcRwn33XU4omMogi6PQ.gif');
    background-size: cover;
    font-size: 0;
}

.button {
    border: 1px solid grey;
    width: 100px;
    height: 50px;
}